*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all 0.3s;
}

body {
    height: 100vh;
    background-color: #313131;
}

.container {
    background-color: #ffffff;
    width: 400px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.container *:not(i) {
    font-family: "Rubik", sans-serif;
}

.colors {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input[type="color"] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 20px;
    border: none;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.buttons button {
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: 2px solid #d5d5dc;
    color: #d5d5dc;
    border-radius: 5px;
    cursor: pointer;
}

.rotate-icon i {
    transform: rotate(45deg);
}

.buttons .active {
    border: none;
    background-color: #4a6ee0;
    color: #ffffff;
}

#submit {
    display: block;
    background-color: #4a6ee0;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 70px;
    border-radius: 25px;
    margin: 0 auto 30px auto;
    cursor: pointer;
}

.output {
    background-color: #cfcfcf;
}

#code {
    width: 100%;
    resize: none;
    color: #30304a;
    padding: 10px 20px;
    background-color: transparent;
}

.pushable {
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    left: 18rem;
    top: -5px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(to right,
            hsl(248, 39%, 39%) 0%,
            hsl(248, 39%, 49%) 8%,
            hsl(248, 39%, 39%) 92%,
            hsl(248, 39%, 29%) 100%);
}

.front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 6px 8px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

#submit:hover {
    background-color: #244fdd;
}

@media screen and (max-width:440px) {
    .container {
        width: 350px;
    }

    #copy {
        left: 82%;
    }
}